.employeeBlock {
    border: 1px solid black;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.projectsList {
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
    min-width: 200px;
}

.mainInfo,
.overInfo {
    display: flex;
    column-gap: 20px;

}

.mainInfo>div,
.overInfo>div {
    width: 50%;
}

.firstMainInfo,
.secondMainInfo,
.firstOverInfo,
.secondOverInfo,
.thirdOverInfo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.firstOverInfo,
.secondOverInfo,
.thirdOverInfo {
    justify-content: space-between;
}

.projectsList {
    height: 112px;
}

.inputAndIcon {
    white-space: nowrap;
}

.inputAndIcon>input {
    width: calc(100% - 27px);
    margin-left: 4px;
}

.noteArea {
    width: 100%;
    box-sizing: border-box;
}

input:read-only {
    opacity: .7;
}