 .header {
   display: flex;
   justify-content: space-between;

 }

 .leftHeader {
   width: calc(100% - 300px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .title {
   font-size: xx-large;
   text-align: center;
 }